  body {
      background-color: black;
  }

  .landing-header {
    z-index: 1;
    position: relative;
    text-align: center;
    padding-top: 40vh;
  }
  
  .landing-header h1 {
    color: #fff;
  }
  
  .slideshow { 
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 0;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .slideshow li { 
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    opacity: 0;
    z-index: 0;
    animation: imageAnimation 28s linear infinite; 
  }
  
  .slideshow li:nth-child(1) { 
    background-image: url(../Images/Image1.jpg) 
  }
  .slideshow li:nth-child(2) { 
    background-image: url(../Images/Image2.png);
    animation-delay: 7s; 
  }
  .slideshow li:nth-child(3) { 
    background-image: url(../Images/Image3.jpg);
    animation-delay: 14s; 
  }
  .slideshow li:nth-child(4) { 
    background-image: url(../Images/Image4.png);
    animation-delay: 21s; 
  }
  .slideshow li:nth-child(5) { 
    background-image: url(../Images/Image5.png);
    animation-delay: 28s; 
  }
  
  @keyframes imageAnimation { 
    0% { 
      opacity: 0; 
      animation-timing-function: ease-in;
    }
    10% {
      opacity: 1;
      animation-timing-function: ease-out;
    }
    20% {
      opacity: 1
    }
    30% {
      opacity: 0
    }
  }
  
  /* Older browser support - .no-cssanimations class added by modernizr */
  .no-cssanimations .slideshow li {
      opacity: 1;
  }

  .title {
      font-size: 5rem;
      margin: auto;
      text-decoration: none;
      text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
      0px 8px 13px rgba(0,0,0,0.1),
      0px 18px 23px rgba(0,0,0,0.1);
  }

  .button {
    position: relative;
    flex: 0 0 180px;
    height: 64px;
    line-height: 64px;
    cursor: pointer;
    font-size: 24px;
    transition: .2s all;
    box-sizing: border-box;
    color: #fff;
    margin-bottom: 20px;
    text-decoration: none;
  }

  .s-irregularLineMove:hover {
        text-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
    }
    
    .s-irregularLineMove::before {
        content: "";
        position: absolute;
        right: 0;
        bottom: 0;
        width: 0;
        height: 1px;
        background-color: #fff;
        transition: .2s all;
    }
    
    .s-irregularLineMove:hover::before {
        left: 0;
        width: 100%;
    }

    .s-irregularLineMove::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 1px;
        top: 0;
        left: 0;
        background-color: #fff;
        transform: scale3d(0, 1, 0);
        transition: .2s transform;
        transform-origin: 0 0;
    }

    .s-irregularLineMove:hover::after {
        transform: scale3d(1, 1, 1);
        transform-origin: 100% 100%;
    }

  
    @media only screen and (max-width: 600px){  
      .title {
        font-size: 3rem;
        -webkit-column-count:1;
        -moz-column-count:1;
        column-count:1;
      }
  }
