body{
  display: flex;
  justify-content: center;
  background-color: white;
}

.container {
  width: 100%;
  max-width: 120rem;
  margin: 10px auto;
  padding: 0;
}

.image-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}

@media only screen and (max-width: 600px){  
    .image-container {
      display: grid;
      -webkit-column-count:1;
      -moz-column-count:1;
      column-count:1;
    }
}

